#wrapper{
    width: 50%;
    margin: auto;
    background-color: aliceblue;
    height: 30%;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
        
}
h1,h2,h3,p{
    text-align: center;
}
div{
    font-weight: bold;
    font-size: 14pt;
}
input {
  position: relative;
  width: 60%;
  height: 40px;
  outline: none; 
    left: 20%;
}


input:focus {
  outline: none;
  border-color: black;
  box-shadow: gray 0 0 3px;
}