

.wrap {
   
   text-align: center;
}


.myButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.myButton:hover {background-color: black;}

.myButton:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#displaylap{
    position: relative;
    top: 20px;
      font-size: 24px;
}
footer{
    
    position: absolute;
    bottom: 0;
    left: 37%;
}